server {
    server_name ${DOMAIN} ${IDCARD_DOMAIN};
    listen      80;
    listen      [::]:80;

    access_log    off;
    server_tokens off;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location = / {
        return 301 https://$host$request_uri;
    }
}
