server {
    server_name ${DOMAIN};
    listen      80;
    listen      [::]:80;

    access_log    off;
    server_tokens off;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }
}
