server {
    server_name ${DOMAIN} ${IDCARD_DOMAIN};
    listen      80;
    listen      [::]:80;

    server_tokens off;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }
}
